@import 'colors';

body {
  color: @cynical-black;
}

a {
  color: @purple;
  transition: color 0.25s;

  &:link,
  &:visited {
    color: @purple;
  }

  &:hover,
  &:active {
    color: @purple-warm;
  }
}

.align-center {
  text-align: center;
}
