@purple: #551adb;
@purple-warm: #801adb;
@purple-light: #9557cc;

@cynical-black: #171717;
@dark: #333;
@mouse: #505050;
@sonic-silver: #757575;
@alto: #ddd;
@dandelion-milk: #e8e8e8;
@bleach: #f4f4f4;
@almowhite: #fefefe;

@red: #df0d0d;

@half-white: rgba(255, 255, 255, 0.5);
@shadow: rgba(0, 0, 0, 0.125);
