@import 'colors';
@import 'mixins/background';
@import 'mixins/input';
@import 'mixins/transition';

*:focus {
  outline: none;
}

label {
  display: block;
  color: @sonic-silver;
  font-size: 0.6em;
  padding: 0.75em 0;
}

input[type="text"],
input[type="number"],
textarea {
  .input-base;
  border: 1px solid @alto;

  &:focus {
    border-color: @purple-warm;
  }

  &[aria-invalid] {
    border-color: @red;
  }
}

p[id^="error-message-"] {
  color: @red;
  text-align: center;
}

textarea {
  resize: none;
  min-height: 10rem;
}

.btn {
  .input-base;
  .background-gradient;

  width: 10rem;
  padding: 0.5em;
  margin: 0.5rem auto;
  border: none;
  border-radius: 6rem;
  outline: 1px dotted transparent;

  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  transition: opacity 0.25s,
    outline-color 0.25s;

  i[class^="icon"] {
    color: white;
  }

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline-color: @purple-warm;
  }

  &:active {
    outline: none !important;
  }

  &.working {
    color: transparent;
    position: relative;
    pointer-events: none;

    i[class^="icon"] {
      color: transparent;
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent url('~Img/loader-white.svg') center center no-repeat;
      background-size: 25%;
    }
  }
}

.form-row {
  max-width: 40rem;
  margin: 1rem auto;

  .rwd-max-for-s({
    margin: 0.5rem;
  });
}
