# dockerignore
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

.idea

# Generic
*/.git*
*/node_modules*
*/*.md
*/*.log

# backend
backend/.session-secret

# common
common/cert*

# frontend
frontend/dist*

# mongodb
mongodb/data*
